In [2]:
from sklearn.datasets import fetch_california_housing
import pandas as pd

In [3]:
data = fetch_california_housing(as_frame=True)
df = data.frame

In [4]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20640 entries, 0 to 20639
Data columns (total 9 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   MedInc       20640 non-null  float64
 1   HouseAge     20640 non-null  float64
 2   AveRooms     20640 non-null  float64
 3   AveBedrms    20640 non-null  float64
 4   Population   20640 non-null  float64
 5   AveOccup     20640 non-null  float64
 6   Latitude     20640 non-null  float64
 7   Longitude    20640 non-null  float64
 8   MedHouseVal  20640 non-null  float64
dtypes: float64(9)
memory usage: 1.4 MB
None

In [5]:
print(df.describe())

             MedInc      HouseAge      AveRooms     AveBedrms    Population  \
count  20640.000000  20640.000000  20640.000000  20640.000000  20640.000000
mean       3.870671     28.639486      5.429000      1.096675   1425.476744
std        1.899822     12.585558      2.474173      0.473911   1132.462122
min        0.499900      1.000000      0.846154      0.333333      3.000000
25%        2.563400     18.000000      4.440716      1.006079    787.000000
50%        3.534800     29.000000      5.229129      1.048780   1166.000000
75%        4.743250     37.000000      6.052381      1.099526   1725.000000
max       15.000100     52.000000    141.909091     34.066667  35682.000000

           AveOccup      Latitude     Longitude   MedHouseVal
count  20640.000000  20640.000000  20640.000000  20640.000000
mean       3.070655     35.631861   -119.569704      2.068558
std       10.386050      2.135952      2.003532      1.153956
min        0.692308     32.540000   -124.350000      0.149990
25%        2.429741     33.930000   -121.800000      1.196000
50%        2.818116     34.260000   -118.490000      1.797000
75%        3.282261     37.710000   -118.010000      2.647250
max     1243.333333     41.950000   -114.310000      5.000010

Problem 1

In [6]:
med_income = df[['MedInc']]
print(med_income.describe())

             MedInc
count  20640.000000
mean       3.870671
std        1.899822
min        0.499900
25%        2.563400
50%        3.534800
75%        4.743250
max       15.000100

In [7]:
pop_lat = df[['Population', 'Latitude']]
print(pop_lat.head())

   Population  Latitude
0       322.0     37.88
1      2401.0     37.86
2       496.0     37.85
3       558.0     37.85
4       565.0     37.85

In [8]:
house_lat = df[['HouseAge', 'AveBedrms', 'Latitude']]
print(house_lat.head())

   HouseAge  AveBedrms  Latitude
0      41.0   1.023810     37.88
1      21.0   0.971880     37.86
2      52.0   1.073446     37.85
3      52.0   1.073059     37.85
4      52.0   1.081081     37.85